gnews==0.3.7
google_news_feed==1.1.0
newspaper3k==0.2.8
pandas==2.2.2
PyYAML==6.0.1
PyYAML==6.0.1
streamlit==1.35.0
streamlit_authenticator==0.3.2
tqdm==4.66.4
lxml_html_clean==0.1.1
transformers>=4.38.0,<5.0.0
torch>=1.11.0
numpy==1.26.4
scikit-learn
scipy
huggingface-hub>=0.19.3
Pillow
datasets
accelerate>=0.20.3
sentence-transformers=3.0.1

